# Ignore files with private data
/.emacs.d/.emacs-authentication.el

# Ignore some local state stored in .emacs.d
/.emacs.d/bookmarks
/.emacs.d/auto-save-list
/.emacs.d/.emacs.desktop
/.emacs.d/.emacs.desktop.lock
/.emacs.d/desktops/
/.emacs.d/eshell/
/.emacs.d/recentf

# Ignore downloaded elisp packages
/.emacs.d/elpa/
/.emacs.d/srcs/

# Ignore emacs' backup files
*~